.locationFormContainer {
  display: block;
  padding: 0px;
  background-color: #ebf2ff;
  position:absolute;
  z-index: 2;
  top: 200px;
  left: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.midlLocationContainer {
  display: block;
  padding: 0px;
  background-color: #ebf2ff;
  position:absolute;
  z-index: 2;
  top: 430px;
  left: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
